<div class="banner--list">
  <div class="yellow--box">
    <p>
      <%= @list.movies.length %>
      movies
    </p>
  </div>
  <h1><%= @list.name %> movies</h1>
</div>
  <div class="container markbook--form mt-3">
    <%# <%= link_to "Add a movie", new_list_bookmark_path(@list), class: "btn btn--green" %>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie, label: false, prompt: "Add a movie" %>
      <%= f.input :comment, label: false, placeholder: "Add a comment" %>
      <%= f.button :submit, "Add Movie to List" %>
    <% end %>
  </div>
  <div class="container ">
  <div class="grid-movies">
    <% @list.movies.each do |movie|%>
      <div class="movie--card m-5">
        <img src="<%=movie.poster_url%>", id="poster">
        <div class="flex">
          <h3><%= movie.title %></h3>
          <h3 class="gray">•<%= movie.rating.to_f %></h3>
          <i class="fa-solid fa-star"></i>
        </div>
        <p><%= movie.overview %></p>

  <% bookmark = Bookmark.find_by(movie_id: movie.id, list_id: @list.id) %>

        <div class="last-options">
        <div>
         <i class="fa-solid fa-comment"></i>
         <%= bookmark.comment %>
        </div>
          <div class="">
          <%= link_to "delete", bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove #{movie.title} from your #{@list.name} list"}, class: 'text-danger m-3' %></small>
          </div>
        </div>
      </div>
    <%end %>
    </div>

  </div>
</div>
